@import "config";

main {
    margin: 0 auto;
    max-width: $max-width;
    padding-left: $gutter;
    padding-right: $gutter;
}

.header {
    background-image: url("../img/header.jpg");
    display: flex;
    height: 300px;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    background-color: rgba(255,255,255,0.4);
}

.header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-family: $font-title;
    }  


.buttons {
    display: flex;
    justify-content: center;
}

.buttons__button {
    display: flex;
    margin: $gutter;
    padding: 10px $gutter;
    font-weight: 700;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    background-color: #ccc;
}

.frontContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lectureItem {
    width: 350px;
    height: 300px;
    margin-bottom: $gutter;
    margin-right: $gutter;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #ccc;
}



