@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h1, h2, h3 {
  font-family: $font-title;
}

@import "lectures";

// TODO import

@media screen and (max-width: 1500px) {
  html { 
    max-width: 1500px;
  }
}

// Adda "show" á filteruð element
.show {
  display: block;
}

// Útil á button
.button {
border: none;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
}

// Grátt hover á takka
.button:hover {
background-color: #ddd;
}

// Dökkur bakgrunnur á active takka
.button.active {
background-color: #666;
color: white;
}

// Button í footer útlit
.fyrirlesturButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button__finish {
  display: flex;
  margin: 10px;
  padding: 10px $gutter;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: white;
}

.footer__link {
  display: flex;
  margin: 10px;
  padding: 10px $gutter;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: white;
}

// Header á fyrirlestrar blaðsíðu
.headerElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 30px;
}  

.headerImage {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(255,255,255,0.4);
}

.titelcateElement {
  position: absolute; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Útlit á fyrirlestur.html
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 68%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

/* Þarf að klára!!
@media screen and (max-width: 500px) {
  .container { 
   
  }
}*/

.contentItem__youtube {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

.contentYoutube {
  width: 100%;
  height: 100%;
}

.contentItem__text {
  width: 100%;
  margin-bottom: 20px;
}

.contentItem__quote {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 10px;
}

.pQuote {
  margin-bottom: 20px;
}

.contentItem__image {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.fyrirlesturImage {
  width: 100%;
  height: 92%;
}

.contentItem__heading {
  width: 100%;
  margin-bottom: 20px;
}

.contentItem__list {
  width: 100%;
  margin-bottom: 20px;
}

.contentItem__code {
  width: 100%;
  margin-bottom: 20px;
}